<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
</head>
<body>

<a href="/mainpage">Back</a>
    
<div class='container'>
    <h1>Welcome, {{request.session.artistname}}!</h1>

    <form action="/update_artist" method="POST">
        {% csrf_token %}

        <div>
            <table class="table">
            <tbody>
                <h2>Edit your Artist Info</h2>

                <tr>
                    <th></th>
                    <td>Profile</td>            
                    <td><input type="textarea" name="profile"></td>
                </tr>
                <tr>
                    <th></th>
                    <td>Genre</td>
                    <td><input type="text" name = "genre"></td>
                </tr>
                <tr>
                    <th></th>
                    <td>Add Members</td>
                    <td><input type="text" name="members"></td>

                </tr>
                <tr>
                    <th></th>
                    <td>City</td>
                    <td>

                        <select name="country" class="countries order-alpha presel-US" id="countryId">
                            <option value="">Select Country</option>
                        </select>
                        <select name="state" class="states order-alpha" id="stateId">
                            <option value="">Select State</option>
                        </select>
                        <select name="city" class="cities order-alpha" id="cityId">
                            <option value="" name = "city" >Select City</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>Record Label</td>
                    <td><input type="text" name = 'record_label' value=""></td>
                </tr> 
                <tr>
                    <td><td>Add A Link</td>
                    <td>{{ form.as_p }}</td></td>
                </tr>   
               </tbody>
            </table>
            <input type="submit" name="" id="" value="Update Info">
        </div>
</div>
</body>
</html> 