
*{
  background-color: #eae7d9;
  color:#442727;

}

.jumbotron{
  background-color: #eae7d9;

}

.list-.container{
  margin: auto;
}






/* .container {
  margin-right: auto; 
  margin-left:  auto; 
  max-width: 960px; 

  padding-right: 10px; 
  padding-left:  10px;
} */








  




